/* ------------- TO DO ------------- */

/* 
SISTEMARE HOVER NAVBAR


*/


/* ------------- GENERALE ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ------------- HEADER ------------- */

/* --- NAVBAR --- */
nav {
    display: flex;
    width: 100%;
    padding: 12px;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.col-nav {
    display: flex;
    width: 50%;
    gap: 2rem;
    text-decoration: none;
    align-items: center;
}

.col-nav:nth-child(2) {
    justify-content: flex-end;
}

/* --- LINK NAVBAR --- */

.link-nav {
    text-decoration: none;
    color: black;
    border-bottom: solid 1px white;
}

.link-nav:hover {

    border-bottom: solid 1px black;
}

/* --- BOTTONE INIZIA --- */
.inizia {
    background-color: #0161FF;
    color: white;
    text-decoration: none;
    padding: 7px 14px;
}

/* ------------- MAIN ------------- */

/* --- JUMBO --- */
.cont-jumbo {
    background-color: #B1CCE3;
}

#jumbo {
    width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
    bottom: -80px;
}

/* --- TITOLO JUMBO --- */
.titolo {
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    padding-bottom: 45px;
}

/* --- TESTO + IMMAGINE JUMBO --- */
.c-ribasso {
    display: flex;
}

.testo-jumbo {
    width: 30%;
}

.img-jumbo {
    width: 70%;
}

.img-jumbo img {
    width: 100%;
}

.paragrafo-jumbo {
    line-height: 25px;
}

.paragrafo-jumbo:nth-child(1) {
    margin-bottom: 40px;
}

.paragrafo-jumbo:nth-child(3) {
    margin-top: 40px;
    margin-bottom: 70px;
}

.freccia-jumbo {
    font-size: 40px;
    color: black;
}

/* --- PIANI E PREZZI --- */
.box-bianco {
    width: 1060px;
    margin: 0 auto;
    margin-top: 130px;
}

.titolo-sezione {
    font-size: 40px;
}

/* --- SELECT --- */
.select {
    padding: 50px 0 25px 0px
}

.select label {
    padding-right: 40px;
}

/* --- COLONNE --- */

.cont-colonne {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-piani-prezzi {
    width: 30%;
    border: solid 1px rgb(147, 147, 147);
}

/* --- HEADER COLONNA --- */
.header-col {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(147, 147, 147);
    padding: 10px 0px;
    gap: 10px;
}

/* --- CONTENUTO COLONNA --- */

.cont-col {
    padding: 30px 20px;
}

.titoletto {
    font-size: 28px;
}

/* --- PREZZO --- */

.cont-prezzo {
    padding-top: 13px;
}

.prezzo {
    font-weight: 600;
}

.specifica-prezzo {
    padding-top: 6px;
    color: rgb(147, 147, 147);
}

/* --- FUNZIONALITA --- */

.funzionalita ul {
    list-style-type: none;
    padding: 30px 0px;
}

.funzionalita ul li {
    padding-bottom: 10px;
}

/* --- PROVA GRATUITA --- */

.cont-col .inizia {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.acquista-ora {
    color: #0161FF;
}

hr {
    width: 60px;
    margin: 40px 0px;
}

/* --- PUNTI SALIENTI --- */

.sottotitolo {
    font-weight: 600;
    padding-bottom: 20px;
}

.punti-salienti ul {
    list-style-type: none;
}

.punti-salienti ul li {
    padding-bottom: 10px;
}

.punti-salienti ul li i {
    color: #0161FF;
}

/* --- COLONNA ENTERPRISE --- */

.col-enterprise {
    width: 100%;
    border: solid 1px rgb(147, 147, 147);
    margin-top: 45px;
}

.cont-enterprise {
    display: flex;
}

.col1-enterprise {
    width: 70%;
    padding: 25px 0px 20px 20px;
}

.col1-enterprise .paragrafo-jumbo {
    margin-bottom: 0px;
}

.col-enterprise .sottotitolo {
    padding-top: 10px;
}

.col2-enterprise {
    width: 30%;
    padding: 30px 20px 20px 0px;
}

.col2-enterprise .inizia {
    padding: 10px 32px;
}